<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Base Page{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="shortcut icon" href="{% static 'workspace/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'workspace/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'workspace/general.css' %}">
    <script type="text/javascript" src="{% static 'workspace/popup.js' %}"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    {% block scr %} {% endblock %}
</head>
<body>

<h2 class="header">{% block title2 %}Base Page{% endblock %}</h2>
<div class="Mcontainer">
    <div class = "row">
        <div class="col-lg-2" id="sidebar" >
            {% include "./sidebar.html" %}
        </div>
        <div class="col-lg-10 content">
            {% block content %} err {% endblock %}
        </div>
        </h2>
    </div>
    <footer></footer>
</div>
</body>
</html>