{% extends "./base.html" %}

{% block title %} Workspace {% endblock %}
{% block title2 %} Index page {% endblock %}

{% block content %}
    <div style="padding-bottom:1000px">
        <h4> Welcome to automated teacher's workspace</h4>
        <p class="mytmp"> Created by Troian Borys, KV-62 in 2020 </p>
        {% if lesson_list %}
            <p class="mytmp"> Latest lessons (Placeholder): </p>
            <ul>
            {% for lesson in lesson_list %}
                <li><a href="{% url 'workspace:lesson_detail' lesson.id %}">
                    {{ lesson.discipline.name }} {{ lesson.group.name }}
                </a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No lessons</p>
        {% endif %}
    </div>
{% endblock %}
