{% extends "./base.html" %}

{% load static %}
{% block scr %} <script type="text/javascript" src="{% static 'workspace/geoposmark.js' %}"></script> {% endblock scr %}

{% block title %} Lesson {% endblock %}
{% block title2 %} {{chosen_lesson.discipline}} {% endblock %}
{% block content %}
    {% if chosen_lesson %}
        <h5 style="text-decoration: underline;">{{chosen_lesson}}</h5>
        <div>{{chosen_lesson.datetime|date:"l, j.m.Y G:i O" }}</div>
        <div>{{chosen_lesson.location}}</div>
        <div>{{chosen_lesson.teacher}}</div>
        <div>{{chosen_lesson.group}}</div>
        {% if auth_teacher %}
            <p class="mytmp">Logged as teacher</p>
            {% if at_form %}
                <form action="{% url 'workspace:l_detail' chosen_lesson.id %}" method="post">
                    {% csrf_token %}
                    {{ at_form }}
                    <input type="submit" value="Start timer">
                </form>
            {% endif %}
        {% elif auth_student %}
            <p class="mytmp">Logged as student {{auth_student.student.group.name}}</p>
            {% if at_form %}
                <button id="setButton" onclick="getLocation()"> Set current location </button>
                <form action="{% url 'workspace:l_detail' chosen_lesson.id %}" method="post">
                    {% csrf_token %}
                    {{ at_form }}
                    <p id="f_err"></p>
                    <input type="submit" value="Mark attendance" />
                </form>
            {% endif %}
        {% endif %}
        {% if message %}
            <p class="mytmp">{{message}} </p>
        {% endif %}
    {% else %}
        <p>Broke</p>
    {% endif %}

{% endblock %}