{% extends "./base.html" %}

{% block title %} Course {% endblock %}
{% block title2 %} Course #{{ this_course.id }} {% endblock %}
{% block content %}
    <h5> Control entities for course {{ this_course }}: </h5>
    {% if entities_list %}
        <ul>
            {% for ent in entities_list %}
            <li class=marks_li> <a href="{% url 'workspace:marks_detail' this_course.id ent.id %}">{{ ent.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="mytmp"> No entities right now </p>
    {% endif %}
    {% if auth_teacher %}
        <a href="{% url 'workspace:marks_add_ent' this_course.id %}"> Add more </a>
    {% elif auth_student %}
        <a> Link for your webhook: {{request.get_host}}{% url 'workspace:github_wh' this_course.id auth_student.id %} </a>
    {% endif %}

{% endblock %}
