{% extends "./base.html" %}

{% block title %} Marks {% endblock %}
{% block title2 %} Marks for {{ this_entity }} {% endblock %}
{% block content %}
    <h5> Marks for {{ this_entity.name }}: </h5>
    <div> {{ this_entity.etype }}  </div>
    <div> Deadline: {{ this_entity.deadline }}  </div>
    <div> Highest mark: {{ this_entity.mark_max }}  </div>
    <div> Study materials: </div>
    <div>  "{{ this_entity.materials }}" </div>
    <a href="{% url 'workspace:marks_entities' this_entity.course.id %}"> <- Back to course </a>
    {% if marks_list|length > 0  %}
        <div class="table_container">
        <table >
            <tr>
                <th>Students</th>
                <th>Mark</th>
            </tr>
            {% for st, mark in marks_list %}
                <tr>
                    <td >{{ st }}</td>
                    <td >{{ mark }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>
    {% elif marks_list %}
        <p> Empty </p>
    {% else %}
        <p> These aren't the Droids you're looking for... </p>
    {% endif %}
    {% if auth_teacher %}
        <a class="edit_btn" href="{% url 'workspace:marks_edit' this_entity.course.pk this_entity.pk %}" > Edit marks </a>
        <a class="edit_btn" href="{% url 'workspace:marks_entity_change' this_entity.course.pk this_entity.pk %}" > Edit control entity </a>
        <button class="delete_btn btn_r" onclick="delete_confirm('control entity', '{% url 'workspace:marks_entity_rm' this_entity.course.pk this_entity.pk %}')" > Remove this entity </button>
    {% endif %}

{% endblock %}
