{% extends "./base.html" %}

{% block title %} Profile {% endblock %}
{% block title2 %} Profile {% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="table_container">
        <table class= "double_table">
            <tr>
                <td>Username:</td>
                <td>{{request.user.username}}</td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td>{{request.user.email}}</td>
            </tr>
            <tr>
                <td>First name:</td>
                <td>{{request.user.first_name}}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{request.user.last_name}}</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>
                    {% if request.user.teacher %}
                        Teacher
                    {% elif request.user.student %}
                        Student
                    {% endif %}
                    {% if request.user.is_staff %} Staff {% endif %}
                </td>
            </tr>
            {% if request.user.teacher %}
                <tr>
                    <td>Page:</td>
                    <td>{{request.user.teacher.page}}</td>
                </tr>
            {% elif request.user.student %}
                <tr>
                    <td>Group:</td>
                    <td>{{request.user.student.group.name}}</td>
                </tr>
                <tr>
                    <td>Github:</td>
                    <td>{{request.user.student.github}}</td>
                </tr>
            {% endif %}
        </table>
        </div>
        <a href="{% url 'workspace:logout' %}">Logout</a>
        <a class="edit_btn btn_r" href="{% url 'workspace:index' %}" > Edit profile </a>
    {% else %}
        <p>Please log in</p>
    {% endif %}
{% endblock %}