{% extends "./base.html" %}

{% block title %} Schedule {% endblock %}
{% block title2 %} My schedule for 2 weeks {% endblock %}
{% block content %}

    {% if personal_lessons %}
        {% for dt, dy in personal_lessons %}
            {% if dy %}
                <div>{{ dt }}</div>
                <table class="lessons_table">
                    <tr>
                        <th class="l_t_time">Time</th>
                        <th class="l_t_string">Lesson</th>
                    </tr>
                    {% for lesson in dy %}
                    <tr>
                        <td class="l_t_time">{{ lesson.datetime.time }}</td>
                        <td class="l_t_string"><a href="{% url 'workspace:l_detail' lesson.id %}"> {{ lesson.discipline.name }} {{ lesson.group.name }}</a></td>
                    </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Broke</p>
    {% endif %}
{% endblock %}
