
<div class="list-group">
    <a class="list-group-item list-group-item-action" href="{% url 'workspace:index' %}"> Home </a>
    {% if not user.is_authenticated %}
        <a class="list-group-item list-group-item-action" href="{% url 'workspace:login' %}"> Login </a>
</div>
    {% else %}
        <a class="list-group-item list-group-item-action" href="{% url 'workspace:profile' %}"> Profile </a>
        <a class="list-group-item list-group-item-action" href="{% url 'workspace:schedule' %}"> My Schedule </a>
        <a class="list-group-item list-group-item-action" href="{% url 'workspace:marks_menu' %}"> Marks and control </a>
        {% if user.is_staff %}
        <a class="list-group-item list-group-item-action" href="{% url 'workspace:batch_add' %}"> Add lessons </a>
        {% endif %}
        <a class="list-group-item list-group-item-action" href="{% url 'workspace:logout' %}"> Logout </a>
</div>
        {% if notifications %}
            {% include "./notifications.html" %}
        {% endif %}
    {% endif %}


